*{margin: 0; padding-left: 0; box-sizing: border-box; font-family: serif; scroll-behavior: smooth;}
body{
    color:#ffffff;   
    background: #000000;
}


.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    opacity: 0.9;
    display: flex;
    background: #000000;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 45px;
    
    color:#9aabc3;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: forwards;
    animation-duration: 3s;
    animation-name: slidein;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color:hsl(220, 9%, 81%);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0; 
    animation: slideTop .5s ease forwards;  
}
.navbar a:hover{
    color:#0ef;
    text-decoration: underline;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(bgmq.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10px 0;
}
.home-content{
    margin-top: -10px;
    max-width: 600px;
    margin-left: 30px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h3 span{
    color: #0ef;
    font-size: 40px;
}
.home-content h3 span:hover{
    color: #0697ff;    
}
.home-content h1{
    font-size: 70px;
    font-weight: 700;
    margin:-3px 0;
    opacity: 0;
    animation: forwards;
    animation-duration: 3s;
    animation-name: slidein;
    animation-delay: 1s;
}
.home-content p{
    margin-top: 30px;
    font-size: 20px;
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: 1s;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(0, 187, 255);
    border-radius: 50%;
    color: rgb(4, 238, 255);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    animation: slideTop .5s ease forwards;
}
.home-sci a:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: slideTop .5s ease forwards;
}
.btn-box:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 5px #0ef,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    padding-bottom: 6rem;
    padding-top: 6rem;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    margin-right: 100px;
}
.about-img img{
    border:1px solid rgba(18, 69, 207, 0.841);
    border-radius: 50%;
    border-style: groove;
    margin-left: 100px;
    box-shadow: 1px 1px 20px #1042e6f7,
                1px 1px 40px #a6cefff7,
                1px 1px 100px #a6f3fff7; 
}
.about-img img:hover{
    color: #081b29;
    box-shadow: 0 0 5px white,
    0 0 25px rgb(38, 148, 203), 0 0 50px rgb(38, 148, 203),
    0 0 100px rgb(38, 148, 203), 0 0 200px white;
    cursor: pointer;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{ 
    color:#0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color:#ffffff;
    line-height: 1.7;
    margin:15px 0 30px;
}
.about-text p{
    color:aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    margin-right: 75px;
}
#services{
    color:aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70ps;
}
.container{
    padding:90px;

}
.sub-title span{
    color: #0ef;
    align-items: center;
    
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
}
.services-list div:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 5px #012290f7,
    0 0 25px #012290f7, 0 0 50px #0053b8f7,
    0 0 50px #0053b8f7;
}
.services-list div i{ 
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.services-list div a{
    text-decoration: none;
    color:#000000;
    font-size: 12px;
    margin-top: 20px;
    display:inline-block;

}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #290808;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .6s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.read:hover{
    box-shadow: 0 0 5px #0ef,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}


.skill{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.container1{
    width:600px;
    height: 500px;
    padding:75px 90px;
    margin-left: 120px;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
.Technical-bars .bar{
    margin-top: 10px;
    font-size: 25px;
}

.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation:showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #f0e3e3;
   
}
.Technical-bars .bar .progress-line span{
    height:100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 0.5s cubic-bezier(1,0,0,1) forwards;
   
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
       
    }
}
.progress-line.cc span{
    width:80%;
}
.progress-line.js span{
    width:70%;
}
.progress-line.html span{
    width:90%;
}
.progress-line.css span{
    width:70%;
}
.progress-line.java span{
    width:40%;
}
.progress-line span::after{
    position:absolute;
    padding:8px 8px;
    background-color: #0ef;
    color: #ff0543;
    font-size: 12px;
    font-weight: 600;
    border-radius: 30px;
    margin-top: -12px;
    font-size: 15px;
    top:-28;
    right:-20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.cc span::after{
    content:"80%";
}
.progress-line.js span::after{
    content:"70%";
}

.progress-line.html span::after{
    content:"90%";
}

.progress-line.css span::after{
    content:"70%";
}

.progress-line.java span::after{
    content:"40%";
}

.prgogress-line span::before{
    content:"";
    position: absolute;
    width:0;
    height:0;
    border:7px solid transparent;
    border-bottom-width:0px;
    border-right-width: 0px;
    border-top-color: #ca3535;
    top:-10px;
    right:0;
    animation: showText 0.5s 1.5s linear forward;
    opacity:0;
}
@keyframes showText{
    100%{
        opacity:1;
    }
}

.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative ;
}

.radial-bars .radial-bar svg{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width:120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill:transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation:animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width:10;
    stroke:#0ef;
    fill:transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}


@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 175;;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;;
    }
}

.radial-bar .percentage{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.radial-bar .text{
    width:100%;
    position:absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform:translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.contact{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
    gap: 3rem;
    margin-left: 50px;
    padding-left:250px;
    margin-top: 60px;
}


.contact-text h2{
    font-size:90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color:#0ef
}
.contact-text h4{
    margin:15px 0;
    color:rgb(228, 228, 228);
    font-size: 25px;
    font-weight: 600;
}
.contact-text p{
    color:white;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 25px;
    font-weight: 600;
    transition: all .40s ease;
    margin-right: 10px;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin:30px 15px 30px 0;
    transition: .5s ease;
    opacity:0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background: #0ef;
    color: #000000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form{
    position: absolute;
    margin-left: 25%;
}

.contact-form form input, form textarea{
    border:none;
    outline: none;
    width:40%;
    padding:13px;
    background: #a4a4b422;
    color: #c2b3b3;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 200px;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form form input:hover, form textarea:hover{
    box-shadow: 0 0 20px rgb(255, 136, 0);
}
.contact-form textarea{
    resize: vertical;
    height: 220px;
}
.contact-form textarea:hover{
    box-shadow: 0 0 20px rgb(255, 136, 0);
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 15px;
    color: #000000;
    margin-top: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .6s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.contact-form form .send:hover{
    box-shadow: 0 0 5px rgb(255, 136, 0),
    0 0 25px rgb(255, 136, 0), 0 0 50px cyan;
}

.list-text p {
    width: 100%;
    text-align: center;
    margin-left: 100px;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;

}

.top {
    position: fixed;
    align-items:end;
    margin-left: 1480px;
    bottom: 2.1rem;
    right: 2, 1rem;

}

.top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
.top i:hover{
    box-shadow: 0 0 5px #0ef,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
    
}

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 15px rgba(179, 143, 143, 0.5);
}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-thumb
{
    background: #0ef;
}

@keyframes slidein {
    0%{
        transform: translateX(-100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0px);
        opacity: 1;  
    }
  }
 
  @keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0px);
        opacity: 1;  
    }
  }

  @keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;  
    }
  }

  @keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;  
    }
  }

